
.walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.boxfront {
  width: 150px;
  height: 200px;
  background-color: lightskyblue;
}

.boxback {
  width: 150px;
  height: 200px;
  background-color: lightgray;
  display: none;
}
