.container {
  width: 70%;
  background-color:whitesmoke;
}

/*---------------POINTER---------------------------*/

.clickable01 {
  cursor: pointer;
  color: #0088cc;
}

.clickable01:hover {
  text-decoration: underline;
}


.clickable02 {
  cursor: pointer;
  color: #0088cc;
}

.clickable02:hover {
  text-decoration: underline;
}

/*-----------------CARDS-------------------------*/

.cardfront01 {
  margin: 12px;
  border: 2px solid black;
  padding: 4px;
  width: 150px;
  height: 200px;
  background-color: lightskyblue;
  text-align: center;
  box-sizing: border-box
}

.cardback01 {
  width: 150px;
  height: 200px;
  background-color: lightgray;
  text-align: center;
  margin: 12px;
  border: 2px solid black;
  padding: 4px;
  box-sizing: border-box;
  display: none;
}

.cardfront02 {
  width: 150px;
  height: 200px;
  background-color: lightskyblue;
  text-align: center;
  margin: 12px;
  border: 2px solid black;
  padding: 4px;
  box-sizing: border-box;
}

.cardback02 {
  width: 150px;
  height: 200px;
  background-color: lightgray;
  text-align: center;
  margin: 12px;
  border: 2px solid black;
  padding: 4px;
  box-sizing: border-box;
  display: none;
}