
.clickable01 {
  cursor: pointer;
  color: #0088cc;
}

.clickable01:hover {
  text-decoration: underline;
}

.cardfront01 {
  width: 150px;
  height: 200px;
  background-color: lightskyblue;
  text-align: center;
}

.cardback01 {
  width: 150px;
  height: 200px;
  background-color: lightgray;
  text-align: center;
  display: none;
}
